{% set nav = 'internet' %}
{% import "CelagoraCoreBundle:Snippet:macro.html.twig" as macro %}
{% set suffix = app.request.locale|capitalize %}
{% set provinceName = ('core.seo.'~province~'.name')|trans %}
{% set provinceGender = ('core.seo.'~province~'.gender')|trans %}
{% set socialImage = site_root_url ~ "/img/social_city_internet_prices-"~app.request.locale~".jpg" %}
{% set in_geozone = 'core.in_geozone'|transchoice(provinceGender, {'%province%': provinceName}) %}
{% set pageTitle = 'core.page.home_internet_city.page_title'|trans({'%city%': geoZone.getLocalizedName(app.request.locale), '%region%': macro.regionCode(geoZone.parent.slug), '%lowPrice%': stats['cheapest-avg-monthly-price']}) %}
{% set pageDescription = 'core.page.home_internet_city.page_description'|trans({'%city%': geoZone.getLocalizedName(app.request.locale), '%region%': macro.regionCode(geoZone.parent.slug)}) %}
{% set canonicalUrl = path(app.request.locale~'InternetCityGeozone', {'geoZoneSlug':geoZone.slug}) %}
{% set provinceIndex = "1" %}
{% set citiesIndex = "1" %}
{% set internetCategoryDisplayLimit = constant('Celagora\\CoreBundle\\Repository\\InternetPlanRepository::INTERNET_CATEGORY_PLAN_DISPLAY_LIMIT') %}

{#To hide popup launch search only for Toronto page#}
{% if geoZone.slug == 'toronto' %}
    {% set isTorontoPage = true  %}
{% endif %}

{% extends "CelagoraCoreBundle:"~domain~":"~domain~"FrontOfficeLayout.html.twig" %}

{% block title %}{{ pageTitle }} - {{ parent() }}{% endblock %}

{% block meta %}{{ parent() }}
    {% if experimentId is defined %}
        <meta property="optimize:experimentId" content="{{ experimentId }}"/>
        <meta property="optimize:variantId" content="{{ variantId }}"/>
    {% endif %}
{% endblock %}

{% block scripts %}{{ parent() }}
    {{ encore_entry_script_tags('internetCity') }}
{% endblock %}

{% block content %}
    {{ parent() }}
    <main id="pageInternetGeoZone" class="ph_container ph_spacer">
        {# Left/Right banners #}
        {% include "CelagoraCoreBundle:Snippet:adBanner/leftVerticalBanner.html.twig" %}
        {% include "CelagoraCoreBundle:Snippet:adBanner/rightVerticalBanner.html.twig" %}
        <div class="ph_container__child ph_spacer__bottom">
            <div class="ph_shadow">
                <div class="block_content">
                    <h1 class="heading1 normal">{{ 'core.home_internet.geozone.title'|trans({'%city%': geoZone.getLocalizedName(app.request.locale), '%region%': macro.regionCode(geoZone.parent.slug)}) }}</h1>
                    <p class="paragraph2">{{ 'core.home_internet.geozone.description'|trans({'%city%': geoZone.getLocalizedName(app.request.locale)})|raw }}</p>
                    {#QUICK ACCESS ANCHORS#}
                    <h2 class="heading3 bold ph_spacer__top">{{ 'core.home_internet.geozone.quick_access'|trans({'%city%': geoZone.getLocalizedName(app.request.locale)}) }}</h2>
                    <div class="pageInternetGeoZone__anchors grid-col-4 grid-md-col-3 grid-sm-col-2 grid-xs-col-2">
                        {% for category in categories %}
                            {% if 0 != category.results|length %}
                               <div class="anchor-link"><a
                                            href="#{{ category.name }}" class="btn_basic btn_secondary"
                                            title="#{{ ('core.home_internet.geozone.category_'~category.name~'.title_bis')|trans }}">{{ ('core.home_internet.geozone.category_'~category.name~'.title_bis')|trans}}</a>
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% if "protegezvous" != domain %}
                            <div class="anchor-link"><a
                                        href="#reviews" class="btn_basic btn_secondary"
                                        title="#{{ 'core.home_internet.geozone.top_rated'|trans }}">{{ 'core.home_internet.geozone.top_rated'|trans }}</a>
                            </div>
                        {% endif %}
                        <div class="anchor-link">
                            <a href="#internet-alert" class="btn_basic btn_secondary"
                               title="#{{ 'core.home_internet.geozone.internet_alert'|trans }}">
                                {{ 'core.home_internet.geozone.internet_alert'|trans }}
                            </a>
                        </div>
                        <div class="anchor-link">
                            <a href="{{ questionnaireAppUrl ~ "/?locale=" ~ app.request.locale ~ "&scenarioType=internet&referrer=" ~ app.request.uri }}" class="btn_basic btn_secondary"
                               title="{{ 'form.launch_search'|trans }}"
                               aria-label="{{ 'section_hero.find_plan'|trans }}">
                                {{ 'core.home_internet.geozone.category_full_search.title'|trans }}
                            </a>
                        </div>
                    </div>
                    <div class="grid-col-2 align_items__start grid_gap__medium ph_spacer__top">
                        {#SUMMARY#}
                        <div class="isp_summary paragraph2 ph_spacer__bottom">
            
                            <table>
                                <tbody>
                                <tr>
                                    <th colspan="2">{{ 'core.home_internet.geozone.isp_summary.title'|trans({'%city%': geoZone.getLocalizedName(app.request.locale), '%region%': macro.regionCode(geoZone.parent.slug)}) }}</th>
                                </tr>
                                <tr>
                                    <th class="normal">{{ 'core.home_internet.geozone.isp_summary.isp_number'|trans({'%city%': geoZone.getLocalizedName(app.request.locale)}) }}</th>
                                    <td class="paragraph1 bold">{{ stats['provider-count'] }}</td>
                                </tr>
                                <tr>
                                    <th class="normal">{{ 'core.home_internet.geozone.isp_summary.best_plan'|trans({'%city%': geoZone.getLocalizedName(app.request.locale)}) }}</th>
                                    <td><div class="bold">{{ stats['best-provider'] }}</div><div class="paragraph3" style="width:max-content">{{ macro.speed(stats['best-speed-mb']) }}- {{ macro.price(stats['best-avg-monthly-price']) }}</div>
                                    {% if stats['best-result'] is defined and stats['best-result'] is not empty %}
                                        <div class="cta_div">
                                            {% set result = stats['best-result'] %}
                                            {% set taggedUrl = result.taggedUrl %}
                                            {% set provider = result.plan.provider %}
                                            {% set providerSlug = result.plan.provider.slugEn %}
                                            {% set providerName = result.plan.provider.getLocalizedName(app.request.locale) %}
                                            {% set providerFullname = result.plan.provider.getLocalizedFullName(app.request.locale) %}
                                            {% set internetPlan = result.plan %}
                                            {% set internetPlanId = internetPlan.id %}
                                            {% set network = result.plan.network.getSlug() %}
                                            {% include "CelagoraCoreBundle:Snippet:nativeButton/internet/nativeButtonPlacementSnippet.html.twig" %}
                                        </div>
                                    {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="normal">{{ 'core.home_internet.geozone.isp_summary.fasted_plan'|trans({'%city%': geoZone.getLocalizedName(app.request.locale)}) }}</th>
                                    <td>
                                        <div id="highest-speed" class="ph_anchor"></div>
                                        <div class="bold">{{ stats['highest-speed-provider'] }}</div><div class="paragraph3">{{ macro.speed(stats['highest-speed-mb']) }}- {{ macro.price(stats['highest-avg-monthly-price']) }}</div>
                                        {% if stats['fastest-result'] is defined and stats['fastest-result'] is not empty %}
                                            <div class="cta_div">
                                                {% set result = stats['fastest-result'] %}
                                                {% set taggedUrl = result.taggedUrl %}
                                                {% set provider = result.plan.provider %}
                                                {% set providerSlug = result.plan.provider.slugEn %}
                                                {% set providerName = result.plan.provider.getLocalizedName(app.request.locale) %}
                                                {% set providerFullname = result.plan.provider.getLocalizedFullName(app.request.locale) %}
                                                {% set internetPlan = result.plan %}
                                                {% set internetPlanId = internetPlan.id %}
                                                {% set network = result.plan.network.getSlug() %}
                                                {% include "CelagoraCoreBundle:Snippet:nativeButton/internet/nativeButtonPlacementSnippet.html.twig" %}
                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="normal">{{ 'core.home_internet.geozone.isp_summary.cheapest_plan'|trans({'%city%': geoZone.getLocalizedName(app.request.locale)}) }}</th>
                                    <td>
                                    <div  id="cheapest-monthly" class="ph_anchor"></div>
                                        <div class="bold">{{ stats['cheapest-provider'] }}</div><div class="paragraph3">{{ macro.speed(stats['cheapest-speed-mb']) }}- {{ macro.price(stats['cheapest-avg-monthly-price']) }}</div>
                                        {% if stats['cheapest-result'] is defined and stats['cheapest-result'] is not empty %}
                                            <div class="cta_div">
                                                {% set result = stats['cheapest-result'] %}
                                                {% set taggedUrl = result.taggedUrl %}
                                                {% set provider = result.plan.provider %}
                                                {% set providerSlug = result.plan.provider.slugEn %}
                                                {% set providerName = result.plan.provider.getLocalizedName(app.request.locale) %}
                                                {% set providerFullname = result.plan.provider.getLocalizedFullName(app.request.locale) %}
                                                {% set internetPlan = result.plan %}
                                                {% set internetPlanId = internetPlan.id %}
                                                {% set network = result.plan.network.getSlug() %}
                                                {% include "CelagoraCoreBundle:Snippet:nativeButton/internet/nativeButtonPlacementSnippet.html.twig" %}
                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="normal">{{ 'core.home_internet.geozone.isp_summary.internet_score'|trans({'%city%': geoZone.getLocalizedName(app.request.locale)})|raw }}</th>
                                    <td><span class="paragraph1 bold">{{ internetScore }}</span><sub>/100</sub></td>
                                </tr>
                                </tbody>
                            </table>
                            <p class="paragraph3 subtitle text_align__right">{{ 'core.home_internet.geozone.isp_summary.last_update'|trans({'%city%': geoZone.getLocalizedName(app.request.locale)}) }} {{ database_build }}</p>
                        </div>
                        <div>
                            <h3 class="heading3 bold">{{ 'core.home_internet.geozone.subtitle_about_categories'|trans({'%city%': geoZone.getLocalizedName(app.request.locale), '%region%': macro.regionCode(geoZone.parent.slug)}) }}</h3>
                            <p class="paragraph2">{{ 'core.home_internet.geozone.content_about_categories'|trans({'%city%': geoZone.getLocalizedName(app.request.locale), '%region%': macro.regionCode(geoZone.parent.slug)}) |raw }}</p>
                            
                            <h3 class="heading3 bold ph_spacer__top">{{ 'core.home_internet.geozone.subtitle_questionnary'|trans({'%city%': geoZone.getLocalizedName(app.request.locale), '%region%': macro.regionCode(geoZone.parent.slug)}) }}</h3>
                            <p class="paragraph2 ph_spacer__bottom">{{ 'core.home_internet.geozone.content_questionnary'|trans({'%city%': geoZone.getLocalizedName(app.request.locale), '%region%': macro.regionCode(geoZone.parent.slug)}) |raw }}</p>
                            <div class="ph_block_btn" id="btnFindPlan">
                                {% include "CelagoraCoreBundle:Snippet:planhubStructuralElements/btnFindPlan.html.twig" %}
                            </div>
                        </div>
                    </div>

                    {#TODO: Clean up this from messages.en/fr.yml when we delete homeInternetGeozoneV1.html.twig and homeInternetGeozoneV2.html.twig#}
                    {#<div class="paragraph1">{{ 'core.home_internet.geozone.content'|trans({'%city%': geoZone.getLocalizedName(app.request.locale), '%region%': macro.regionCode(geoZone.parent.slug),
                            '%count%': stats['provider-count'],
                            '%highest-speed-provider%': stats['highest-speed-provider'], '%highest-speed-mb%': stats['highest-speed-mb'],
                            '%cheapest-provider%' : stats['cheapest-provider'], '%cheapest-avg-monthly-price%': stats['cheapest-avg-monthly-price'],
                            '%expensive-provider%' : stats['expensive-provider'], '%expensive-avg-monthly-price%': stats['expensive-avg-monthly-price']})
                        |raw }}</div>#}

                </div>
            </div>
        </div>
        {# Horizontal banner #}
        {% include "CelagoraCoreBundle:Snippet:adBanner/horizontalBanner.html.twig" %}
        <div class="ph_container__child">
            {% for category in categories %}
                {% if 0 != category.results|length %}
                    <div id="{{ category.name }}" class="ph_anchor"></div>
                    <div class="ph_shadow internet_prices">
                        <div class="ph_head_content">
                            <h2 class="heading2 bold">{{ ('core.home_internet.geozone.category_'~category.name~'.title')|trans({'%city%': geoZone.getLocalizedName(app.request.locale)})|raw  }}</h2>
                            <p class="paragraph2 subtitle">{{ ('core.home_internet.geozone.category_'~category.name~'.about')|trans({'%city%': geoZone.getLocalizedName(app.request.locale)})|raw  }}</p>
                        </div>
                        <table class="block_content {{ category.name }}">
                            <tbody>
                            <tr class="sort-plans-geozone">
                                {% set recommendedCategory = constant('Celagora\\CoreBundle\\Repository\\InternetPlanRepository::RECOMMENDED_CATEGORY') %}
                                <th></th>
                                <th>
{#                                    {% if category.name == recommendedCategory %}#}
                                        {{ 'core.home_internet.geozone.sort.download_speed'|trans }}
{#                                    {% else %}#}
{#                                        <a href="{{ path(app.request.locale~'InternetCityGeozoneCategory', {'geoZoneSlug': geoZone.slug, 'category': category.name })~'?dyn=1&sort=InternetPlan.downSpeed&direction=asc&page=1' }}"#}
{#                                           class="sortable"#}
{#                                           title="{{ 'core.phone_filters.sort_by'|trans }}: {{ 'core.home_internet.geozone.sort.download_speed'|trans }}">#}
{#                                            <div class="glyphicon glyphicon-sort"#}
{#                                                 aria-hidden="true"></div> {{ 'core.home_internet.geozone.sort.download_speed'|trans }}#}
{#                                        </a>#}
{#                                    {% endif %}#}
                                </th>
                                <th>
{#                                    {% if category.name == recommendedCategory %}#}
                                        {{ 'core.home_internet.geozone.sort.monthly_usage'|trans }}
{#                                    {% else %}#}
{#                                        <a href="{{ path(app.request.locale~'InternetCityGeozoneCategory', {'geoZoneSlug': geoZone.slug, 'category': category.name })~'?dyn=1&sort=InternetPlan.bandwidth&direction=asc&page=1' }}"#}
{#                                           class="sortable"#}
{#                                           title="{{ 'core.phone_filters.sort_by'|trans }}: {{ 'core.home_internet.geozone.sort.monthly_usage'|trans }}">#}
{#                                            <div class="glyphicon glyphicon-sort"#}
{#                                                 aria-hidden="true"></div> {{ 'core.home_internet.geozone.sort.monthly_usage'|trans }}#}
{#                                        </a>#}
{#                                    {% endif %}#}

                                </th>
                                <th>
{#                                    {% if category.name == recommendedCategory %}#}
                                        {{ 'core.home_internet.geozone.sort.upfront_payment'|trans }}
{#                                    {% else %}#}
{#                                        <a href="{{ path(app.request.locale~'InternetCityGeozoneCategory', {'geoZoneSlug': geoZone.slug, 'category': category.name })~'?dyn=1&sort=InternetPlan.totalUpfrontPrice&direction=asc&page=1' }}"#}
{#                                           class="sortable"#}
{#                                           title="{{ 'core.phone_filters.sort_by'|trans }}: {{ 'core.home_internet.geozone.sort.upfront_payment'|trans }}">#}
{#                                            <div class="glyphicon glyphicon-sort"#}
{#                                                 aria-hidden="true"></div> {{ 'core.home_internet.geozone.sort.upfront_payment'|trans }}#}
{#                                        </a>#}
{#                                    {% endif %}#}

                                </th>
                                <th>
{#                                    {% if category.name == recommendedCategory %}#}
                                        {{ 'core.home_internet.geozone.sort.monthly_price'|trans }}
{#                                    {% else %}#}
{#                                        <a href="{{ path(app.request.locale~'InternetCityGeozoneCategory', {'geoZoneSlug': geoZone.slug, 'category': category.name })~'?dyn=1&sort=InternetPlan.totalTwoYearsPrice&direction=asc&page=1' }}"#}
{#                                           class="sortable"#}
{#                                           title="{{ 'core.phone_filters.sort_by'|trans }}: {{ 'core.home_internet.geozone.sort.monthly_price'|trans }}">#}
{#                                            <div class="glyphicon glyphicon-sort"#}
{#                                                 aria-hidden="true"></div> {{ 'core.home_internet.geozone.sort.monthly_price'|trans }}#}
{#                                        </a>#}
{#                                    {% endif %}#}

                                </th>
                                <th>
{#                                    {% if category.name == recommendedCategory %}#}
                                        {{ 'core.home_internet.geozone.sort.on_two_years'|trans }}
{#                                    {% else %}#}
{#                                        <a href="{{ path(app.request.locale~'InternetCityGeozoneCategory', {'geoZoneSlug': geoZone.slug, 'category': category.name })~'?dyn=1&sort=InternetPlan.totalTwoYearsPrice&direction=asc&page=1' }}"#}
{#                                           class="sortable"#}
{#                                           title="{{ 'core.phone_filters.sort_by'|trans }}: {{ 'core.home_internet.geozone.sort.on_two_years'|trans }}">#}
{#                                            <div class="glyphicon glyphicon-sort"#}
{#                                                 aria-hidden="true"></div> {{ 'core.home_internet.geozone.sort.on_two_years'|trans }}#}
{#                                        </a>#}
{#                                    {% endif %}#}

                                </th>
                                <th></th>
                            </tr>
                            {% for result in category.results %}
                                {% if loop.index <= internetCategoryDisplayLimit %}
                                    {% set taggedUrl = result.taggedUrl %}
                                    {% set provider = result.plan.provider %}
                                    {% set providerSlug = result.plan.provider.slugEn %}
                                    {% set providerName = result.plan.provider.getLocalizedName(app.request.locale) %}
                                    {% set providerFullname = result.plan.provider.getLocalizedFullName(app.request.locale) %}
                                    {% set internetPlan = result.plan %}

                                    <tr class="internetPlanItem">
                                        <td>
                                            {% set isExclusive = result.plan.isExclusive %}
                                            {% include "CelagoraCoreBundle:Snippet:searchResultRibbon/defaultSearchResultRibbon.html.twig" %}
                                            <a href="{{ path(app.request.locale~'InternetProvider', {'providerSlug':providerSlug}) }}"
                                               title="Page: {{ providerFullname }}"
                                               class="logo-link logo-provider-mobile">
                                                {% include "CelagoraCoreBundle:Snippet:providerLogo/internetProviderLogo.html.twig" %}
                                            </a>
                                            {% if "protegezvous" != domain %}
                                                <div class="rating-review">
                                                    <div class="ratings">
                                                        <div class="empty-stars-secondary"></div>
                                                        <div class="full-stars-secondary"
                                                             style="width: {{ (result.overallRating * 20)|number_format(2) }}%;"></div>
                                                    </div>
                                                    {# TODO: Check linl anchor #}
                                                    <a href="{{ path(app.request.locale~'InternetProvider', {'providerSlug':providerSlug}) }}{% if result.nbReviews>0 %}#reviews{% endif %}"
                                                       title="{{ 'core.review.reviews'|trans }}">
                                                        <div class="reviews paragraph3 ph_link">{{ 'core.review.nb_reviews'|transchoice(result.nbReviews) }}</div>
                                                    </a>
                                                </div>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="paragraph1 bold">{{ macro.speed(result.plan.downSpeed) }}</div>
                                            <div class="paragraph1 baseline">{{ ('core.home_internet.'~result.plan.technology)|trans }}</div>
                                            <div class="heading6 subtitle">{{ 'core.home_internet.geozone.sort.download_speed'|trans }}</div>
                                        </td>
                                        <td>
                                            <div class="paragraph1 bold">{{ macro.mainData(result.plan.bandwidth) }}</div>
                                            <div class="heading6 subtitle">{{ 'core.home_internet.geozone.sort.monthly_usage'|trans }}</div>
                                        </td>
                                        <td>
                                            <div class="paragraph1 bold">{{ macro.mainPrice(result.plan.totalUpfrontPrice) }}</div>
                                            <div class="heading6 subtitle">{{ 'core.home_internet.geozone.sort.upfront_payment'|trans }}</div>
                                        </td>
                                        <td>
                                            <div class="paragraph1 bold">{{ macro.mainPrice(result.plan.totalMonthlyPrice) }}</div>
                                            <div class="heading6 subtitle">{{ 'core.home_internet.geozone.sort.monthly_price'|trans }}</div>
                                        </td>
                                        <td>
                                            <div class="paragraph1 bold">{{ macro.mainPrice(result.plan.totalTwoYearsPrice) }}</div>
                                            <div class="heading6 subtitle">{{ 'core.home_internet.geozone.sort.on_two_years'|trans }}</div>
                                        </td>
                                        <td>
                                            {% set internetPlanId = internetPlan.id %}
                                            {% set network = result.plan.network.getSlug() %}
                                            {% include "CelagoraCoreBundle:Snippet:nativeButton/internet/nativeButtonPlacementSnippet.html.twig" %}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                        {% if internetCategoryDisplayLimit < category.results|length %}
                            {% if  category.name == 'unlimited' or category.name == 'cheapest' or category.name == 'promotion' %}
                                {% set direction = 'asc' %}
                                {% set sort = 'InternetPlan.totalTwoYearsPrice' %}
                            {% elseif  category.name == 'fastest' %}
                                {% set direction = 'desc' %}
                                {% set sort = 'InternetPlan.downSpeed' %}
                            {% else %}
                                {#  get Default values set by Controller #}
                                {% set direction = null %}
                                {% set sort = null %}
                            {% endif %}
                            <div class="ph_block_btn">
                                <a href="{{ path(app.request.locale~'InternetCityGeozoneCategory', {'geoZoneSlug': geoZone.slug, 'category': category.name, 'sort': sort, 'direction': direction }) }}"
                                   title="Page: {{ 'core.result.show'|trans }}"
                                   class="btn_basic btn_primary">{{ 'core.result.show'|trans }}
                                </a>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
            {# INTERNET ALERT #}
            <span id="internet-alert" class="ph_anchor"></span>
            <div class="section-reengagement__item ph_center ph_outer_spacer">
                <div>
                    <h2 class="heading2 bold">{{ 'core.home_internet.geozone.internet_cheapest_rate'|trans({'%city%': geoZone.getLocalizedName(app.request.locale), '%region%': macro.regionCode(geoZone.parent.slug)}) }}</h2>
                    <p class="paragraph2">{{ 'core.home_internet.geozone.internet_cheapest_rate_paragraph1'|trans({'%city%': geoZone.getLocalizedName(app.request.locale), '%region%': macro.regionCode(geoZone.parent.slug)}) }}</p>
                    <p class="paragraph2 ph_spacer__bottom">{{ 'core.home_internet.geozone.internet_cheapest_rate_paragraph2'|trans({'%city%': geoZone.getLocalizedName(app.request.locale), '%region%': macro.regionCode(geoZone.parent.slug)}) }}</p>
                    <div class="ph_block_btn">
                        <a href="{{ path(app.request.locale~'InternetAlert') }}" class="btn_basic btn_primary">Internet Alert</a>
                    </div>
                </div>
            </div>

            {# FSA - FORWARD SORTATION AREA #}
            {% include "CelagoraCoreBundle:Snippet:forwardSortationAreaFSA.html.twig" %}
            {# CITY INTERNET SCORE #}
            {% include "CelagoraCoreBundle:Snippet:cityInternetScore.html.twig" %}
            {# TOP RATED CARRIERS #}
            {% include "CelagoraCoreBundle:Snippet/reviews:internetTopRatedCarriers.html.twig" %}
            {# RELATED POSTS #}
            {% if blogPosts is defined and 0 != blogPosts|length and "mobilesyrup" != domain %}
                <div id="blog" class="ph_anchor"></div>
                <h2 class="heading2 normal">{{ 'related_posts'|trans }}</h2>
            {% endif %}
            {% include "CelagoraCoreBundle:Snippet/blog:relatedPostsSnippet.html.twig" %}
            {# ABOUT CITY #}
            {#{% include "CelagoraCoreBundle:Snippet:aboutCity.html.twig" %}#}
            {# SECTION FAQ #}
            {% include "CelagoraCoreBundle:Snippet:homeInternetGeozoneFAQ.html.twig" %}
        </div>
    </main>
{% endblock %}
